@model IEnumerable<CartItem>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">



    <link href="~/CartStyle/css/style.css" rel="stylesheet">
    <style>
        body {
            background-color: #1a1814;
        }

        th {
            -webkit-text-fill-color: black;
        }

        button {
            background-color: #cda45e;
        }
    </style>
</head>


<body>
    <!-- Cart Start -->
    @if (User.Identity.IsAuthenticated && User.IsInRole("Client"))
    {
        <div class="container-fluid pt-5">
            <div class="row px-xl-5">
                <div class="col-lg-8 table-responsive mb-5">
                    <table style="-webkit-text-fill-color:white;" class="table table-bordered text-center mb-0">
                        <thead class="bg-secondary text-dark">
                            <tr>
                                <th>Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Sub Total</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            @foreach (var cartitem in Model)
                            {
                                @if (cartitem.foodItem != null)
                                {

                                    <tr>
                                        <td class="align-middle">
                                         <div style="display:flex; align-content:space-between;">
                                                <img  width="100px;" height="50px;" src="@cartitem.foodItem.ImageUrl" alt="" style="width: 50px;">

                                               
                                                    <p>@cartitem.foodItem.Name</p>
                                              
                                      

                                         </div>
                                              
                                        <td class="align-middle">@cartitem.foodItem.Price</td>
                                        <td><a asp-area="" asp-controller="ShoppingCarts" asp-action="DecrementCartItem" asp-route-foodItemId="@cartitem.foodItem.FoodItemId"><i class="fa-solid fa-minus" style=" margin:5px; padding:5px; color: #cda45e;"></i></a>   @cartitem.Quantity   <a asp-area="" asp-controller="ShoppingCarts" asp-action="IncrementCartIrem" asp-route-foodItemId="@cartitem.foodItem.FoodItemId"><i class="fa-solid fa-plus" style=" margin:5px; padding:5px; color: #cda45e;"></i></a></td>
                                        <td>@(cartitem.foodItem.Price * cartitem.Quantity)</td>
                                        <td>

                                            <a asp-area="" asp-controller="ShoppingCarts" asp-action="DeleteCartItem" asp-route-foodItemId="@cartitem.foodItem.FoodItemId" onclick="return confirm('Are You Sure that You Want To Delete This Item From Your Cart ?')">
                                                <i class="fa-solid fa-trash" style="margin-left:28px ;color: #cda45e;"></i>

										</a>
								
									

							</td>
                                    </tr>

                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4">
                   
                    <div class="card border-secondary mb-5">
                        <div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between mb-3 pt-1">
                                <h6 class="font-weight-medium">Subtotal</h6>
                                
                                
                                <h6 class="font-weight-medium">
                                    @ViewBag.total
                                </h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Delivery</h6>
                                <h6 class="font-weight-medium">10 $</h6>
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">Total</h5>
                                @{
                                    var totalWithDel = (Math.Ceiling(ViewBag.total) + 10);
                                }
                                <h5 class="font-weight-bold">@totalWithDel</h5>
                            </div>
                            <button  style="background-color:#cda45e;" class="btn btn-block btn-primary my-3 py-3">
                                <a style="text-decoration:none;color:white;" asp-area="" asp-controller="Orders" asp-action="Summary">Proceed To Checkout</a>
                            </button>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- Cart End -->
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/CartStyle/lib/easing/easing.min.js"></script>
    <script src="~/CartStyle/lib/owlcarousel/owl.carousel.min.js"></script>



    <!-- Template Javascript -->
    <script src="~/CartStyle/js/main.js"></script>

</body>
</html>
