@model IEnumerable<FoodItem>




<div class="mt-5 pt-5 pb-5 container-lg">
	<table class="table table-dark table-hover">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Price</th>
				<th scope="col">IsAvaliabe</th>
				<th scope="col">Image</th>
				<th scope="col">Description</th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
				<td>@item.Name</td>
					<td>@item.Price</td>
					@if (item.IsAvaliabe)
					{
						<td>
							<i class="fa-sharp fa-solid fa-check fa-2xl" style="color: #01230b; font-weight:bolder;"></i>
						</td>
					}
					else
					{
						<td><i class="fa-solid fa-xmark fa-2xl" style="color: #410101;"></i>

						</td>
					}

					<td><img src="@item.ImageUrl" style="width:70px; height:50px;"/></td>

					<td>@item.Description</td>

					<td>
						<a class="newCategoryButton" asp-controller="FoodItem" asp-action="Update" asp-route-foodItemId="@item.FoodItemId">Edit</a>
					</td>
					<td>
						<a class="newCategoryButton" asp-controller="FoodItem" asp-action="Delet" asp-route-foodItemId="@item.FoodItemId" asp-route-categoryId="@item.FoodCategoryId" onclick="return confirm('Are You that Sure You Want To Delete This Item')">Delete</a>

					</td>
				</tr>
			}
		</tbody>
	</table>
	</div>
