@model FoodItem

<h1>Food Category ID: @Model.FoodCategoryId</h1>
<h2>Food Item ID : @Model.FoodItemId</h2>
<h2>Name : @Model.Name</h2>
<h3>Description : @Model.Description</h3>
<h3>Price = @Model.Price $</h3>
<h3>Availability : @Model.IsAvaliabe</h3>
